body {
    background-image:linear-gradient(90deg,#333777,#376533);
   
   }
   h1 {
     color: white;
     text-align: center;
   }
   
   img {
     width:100px;
     height:150px;
   }
   
   table {
     border: 2px solid white;
    width:300;
    height: 300;
   }
   
    tr
      {
    color:white;
      }
   
   
   a {
    color:white;
   }
   #imag{
     color:#376533;
   }
   #head {
     color:white;
   }