body {
  background-image: url("http://www.saltydog.eu5.org/swirl.jpg")
}
h1 {
  color:white;
}
table {
  width: 300;
  height: 260;
}
  tr
  	{
  		color:white;
	  }


a {
  color:inherit;
}

img {
  color:black;
  width:70px;
  height:100px;
  margin-left:10px;
}
#inp1 {
  background-color:blue;
  width:100px;
  height:50px;
  margin-left: 10px;
  margin-top:-600px;
}
